#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-gpio-sigmap.h>
#include <dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,display = &gc9a01;
	};

	vcc_lcd: vcc_lcd {
        compatible = "regulator-fixed";
        regulator-name = "vcc_lcd";
        enable-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        regulator-boot-on;
    };

	leds {
		compatible = "gpio-leds";
		lcd_backlight: lcd_backlight {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			label = "LCD backlight";
		};
	};
};

&pinctrl {
	spim3_lcd_default: spim3_lcd_default {
		group1 {
			pinmux = <SPIM3_MOSI_GPIO11>,
				 <SPIM3_SCLK_GPIO12>,
				 <SPIM3_MISO_GPIO13>;
		};
	};
};

&spi3 {
	status = "okay";
	pinctrl-0 = <&spim3_lcd_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;

	gc9a01: gc9a01@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <20000000>;
		cmd-data-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		width = <240>;
		height = <240>;
		x-offset = <0>;
		y-offset = <0>;
		vcom = <0x19>;
		gctrl = <0x35>;
		vrhs = <0x12>;
		vdvs = <0x20>;
		mdac = <0x08>;
		gamma = <0x01>;
		colmod = <0x05>;
		lcm = <0x2c>;
		porch-param = [0c 0c 00 33 33];
		cmd2en-param = [5a 69 02 01];
		pwctrl1-param = [a4 a1];
		pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
		nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
		ram-param = [00 F0];
		rgb-param = [CD 08 14];
	};
};
